@{
    ViewData["Title"] = "Home";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet" />

<div class="bg-light py-5 text-center">
    <div class="container">
        <h1 class="animate__animated animate__fadeInDown animate__delay-1s display-4 fw-bold">Welcome to My Portfolio</h1>
        <p class="lead text-muted animate__animated animate__bounceInUp animate__delay-2s">Developer • Student • Problem Solver</p>
    </div>
</div>

<div class="text-center my-4">
    <img src="~/images/m9.jpg" class="shadow-lg img-fluid animate__animated animate__zoomIn"
         style="width: 400px; height: 390px; object-fit: cover;
                box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);" alt="My photo">
</div>

<div class="container text-center py-5">
    <h2 class="fw-bold animate__animated animate__fadeInUp">Hi, I'm <span class="text-primary">John Marcus M. Loyola</span></h2>
    <p class="lead animate__animated animate__fadeInUp animate__delay-1s">I’m a passionate IT student building real-world systems from the ground up, I am determined to be successful and I am willing to work hard to gain sufficient knowledge. From e-commerce to construction apps — I love making tech work for people.</p>
    <p class="text-muted animate__animated animate__fadeInUp animate__delay-2s">My interests include full-stack development, backend systems, and mobile apps. I thrive on solving real-world problems through clean code and collaboration.</p>
</div>
